body{
background-attachment:fixed;
background-image: url("image/lol.jpg");
font-family:MV boli;
}
nav{
float:rigth;
z-index:auto;
height: 200px;
background-color: rgba(53,53,53,0.6);
border-top-right-radius: 40px;
border-bottom-right-radius: 40px;
width:300px;
margin:300px;
}


input{
margin-top:20px;
border-radius:20px;
width:300px;
background-color:rgba(0,0,0,0.8);
color:white;
}
